{% extends 'poczatek.html' %}
{% block content %}

{% load bootstrap %}
<div class="container-fluid">
  <h1 id="listatowar" class="text-center">Lista towarow</h1>
  <table id="mydata" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nazwa towaru</th>
        <th>Ilosc</th>
        <th>Data wprowadzenia</th>
        <th>Osoba wprowadzajaca</th>
        <th>Uwagi</th>
        {% if user.is_authenticated %}
        <th>Operacje</th>
        {% endif%}
      </tr>
     </thead>
     <tbody id=myTable>
     {% for lista in listatowarow %}
      <tr element-id="{{ lista.pk }}">
        <td>{{lista.name}}</td>
        <td>{{lista.ilosc}}</td>
        <td>{{lista.data_wprowadzenia}}</td>
        <td>{{lista.osoba_wprowadzajaca}}</td>
        <td>{{lista.uwagi}}</td>
        {% if user.is_authenticated %}
        <td><button class="btn btn-danger remove-button"  >Usun <span class="glyphicon glyphicon-trash"></span></button></td>
        {% endif %}
      </tr>
      {% endfor %}
     </tbody>
  </table>
</div>
<script>
$('#mydata').dataTable( );
</script>
{% endblock content %}