<html>
  <head>
  {% load static %}
<link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
<link rel="stylesheet" href='{% static "css/bootstrap-theme.min.css" %}'> 
<link href='{% static "css/dataTables.bootstrap.min.css" %}' rel="stylesheet">
<link href='{% static "towary.css" %}' rel="stylesheet">

<script src='{% static "jquery-3.2.1.min.js" %}'></script>
<script src='{% static "js/jquery.dataTables.min.js" %}'></script>
<script src='{% static "js/dataTables.bootstrap.min.js" %}'></script>
<script src='{% static "js/bootstrap.min.js" %}'></script>
<script src='{% static "towary.js" %}'></script>
<script>$.ajaxSetup({data:{csrfmiddlewaretoken:"{{csrf_token}}"}})</script>



    <title>Magazyn</title>
  </head>
      <body>
      <style type="text/css">
  body {
    padding-top: 70px;
  }
</style>
      
 <div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <p class="navbar-text">Magazyn</p>
    </div>
 
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'listatowarow' %}">Lista towarow</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'dodanieTowaru' %}">Dodawanie towarow</a></li>
        <li><a href="{% url 'formUzytkownik' %}">Edycja danych uzytkownika</a></li>
         <li><a href="{% url 'daneUzytkownika' %}">Dane uzytkownika</a></li>
        {% endif %}
        {% if user.is_superuser %}
        <li class="dropdown">
          <a href="#" class="dropdown-collapse" data-toggle="dropdown">Panel administratora <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          <li><a id="listaUzytkownikow" href="{% url 'listaUzytkownikow' %}">Lista uzytkownikow</a></li>
          <li><a id="logi" href="{% url 'listaLogi' %}">Logi</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if not user.is_authenticated %}
        <li><a href="{% url 'logowanie' %}">Logowanie</a></li>
        {% else %}
        <li><p class="navbar-text">Jestes zalogowany jako {{user.username}}</p></li>
        <li><a id="wyloguj" href="{% url 'wyloguj' %}">Wyloguj</a></li>
        {% endif %}
        
      </ul>
    </div><!-- /.navbar-collapse -->
    </nav>
 </div><!-- /.container-fluid -->

  {% block content %}
            {% endblock %}
            

         </body>
  </html>